@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <!--h1 class="display-4">Welcome to Eldigm</h1-->
        <p></p>
        <img src="/Images/Eldigm.jpg" width="100%" height="100%" alt="" />
</div>
