@model Inventory_Core.Models.SiteGroup

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SiteGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Memco_nm" class="control-label">그룹명</label>
                <input asp-for="Memco_nm" class="form-control" />
                <span asp-validation-for="Memco_nm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sort_no" class="control-label">정렬번호</label>
                <input asp-for="Sort_no" class="form-control" />
                <span asp-validation-for="Sort_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Use_yn" class="control-label">사용여부</label>
                <select asp-for="Use_yn" class="form-control">
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select>
                <span asp-validation-for="Use_yn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo1" class="control-label">메모1</label>
                <input asp-for="Memo1" class="form-control" />
                <span asp-validation-for="Memo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo2" class="control-label">메모2</label>
                <input asp-for="Memo2" class="form-control" />
                <span asp-validation-for="Memo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
